@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: url("pattern.png")
}

.main {
    background: #84c8eb;
    width: 400px;
    height: 175px;
    margin: 200px auto;
    position: relative;
    padding: 30px;
}

.badge {
    position: absolute;
    background: #e66357;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    width: 96px;
    top: -15px;
    left: 40%;
}

.clock {
    background: white;
    font-size: 55px;
    text-align: center;
    height: 100%;
    padding-top: 25px ;
    font-family: 'Orbitron', sans-serif;
    border-radius: 4px;
} 
